<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <script src="server.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

</head>

<body>
    <div id="app">
        <main>
            <h1 v-text="sitename"></h1>
            
        
      
            <div v-if='showLesson'>

                <header>

                  
                </header>
                <label for="Sort">Sort By Price:</label>

                <button class="highest" v-on:click="SortH()" v-bind:disabled="showLesson2===true">Highest</button>
                <button class="Lowest" v-bind:disabled="showLesson===true">Lowest</button>



                <div v-for="db.collection('Lessons')">
                    <figure>
                        <img v-bind:src="lesson.Image" height="100px" width="100px">
                    </figure>

                    <h2 v-text="lesson.Subject"></h2>
                    <p v-html="lesson.Location"></p>
                    <p v-html="lesson.Price"></p>
                    <p v-html="lesson.Spaces"></p>



                    <button class="add to cart" v-on:click="addToCart(lesson)"
                        v-bind:disabled="lesson.Spaces === 0 ">Add to
                        cart</button>
                    <span>Buy Now! <i class="fas fa-star"></i></span>

                    <span v-if='lesson.spaces === 0'>All out!
                        Only 1 Space left!
                    </span>


                </div>


              

                <button class="checkoutbutton" v-on:click="showCheckout()" v-bind:disabled="cart.length === 0">
                    <!-- add the cart icon -->
                    <span class="fas fa-cart-plus"></span> Checkout
                </button>

            </div>



            <div v-if='showLesson2'>

                <header>

                    <h1 v-text="sitename"></h1>
                </header>
                <label for="Sort">Sort By Price:</label>

                <button class="highest" v-on:click="SortH()" v-bind:disabled="showLesson2===true">Highest</button>
                <button class="Lowest" v-on:click="SortH()" v-bind:disabled="showLesson===true">Lowest</button>


                <div v-for="lesson in Sortedlessons2">
                    <figure>
                        <img v-bind:src="lesson.Image" height="100px" width="100px">
                    </figure>

                    <h2 v-text="lesson.Subject"></h2>
                    <p v-html="lesson.Location"></p>
                    <p v-html="lesson.Price"></p>
                    <p v-html="lesson.Spaces"></p>



                    <button class="add to cart" v-on:click="addToCart(lesson)"
                        v-bind:disabled="lesson.Spaces === 0 ">Add to
                        cart</button>
                    <span>Buy Now! <i class="fas fa-star"></i></span>

                    <span v-if='lesson.spaces === 0'>All out!
                        Only 1 Space left!
                    </span>


                </div>


                <button class="checkoutbutton" v-on:click="showCheckout()" v-bind:disabled="cart.length === 0">
                    <!-- add the cart icon -->
                    <span class="fas fa-cart-plus"></span> Checkout
                </button>

            </div>







            <div v-if='Checkout'>

                <h2>Checkout</h2>

                <p v-if="errors.length">
              
                    <ul>
                      <li v-for="error in errors">{{ error }}</li>
                    </ul>
                  </p>
               
                <p>
                    <strong>First Name:</strong>
                    <!-- This input field is bound to 'firstName' in the 'order' object -->
                    <input v-model="order.firstName" />
                </p>
                <p>
                    <strong>Last Name:</strong>
                    <!-- This input field is bound to 'lastName' in the 'order' object -->
                    <input v-model="order.lastName" />
                </p>

                <strong>Phone:</strong>
                <!-- This input field is bound to 'lastName' in the 'order' object -->
                <input v-model="order.Phone" />
                </p>
                <h2>Order Information</h2>
                <p>First Name: {{order.firstName}}</p>
                <p>Last Name: {{order.lastName}}</p>

                <p>Phone: {{order.Phone}}</p>

                <button class="Confirm" v-on:click="Validation()"> Confirm</button>
                <div v-for="lesson in cart">
                    <figure>
                        <figure>
                            <img v-bind:src="lesson.Image" height="100px" width="100px">
                        </figure>
    
    
                        <h2 v-text="lesson.Subject"></h2>
                        <p v-html="lesson.Location"></p>
                        <p v-html="lesson.Price"></p>
                        <p v-html="cartCount(lesson)"></p>
    
                        <button class="add to cart" v-on:click="remove(lesson)"> Remove</button>
    
                    </figure>
                </div>
    
            </main>
    
    
            </div>

            






        <script>


            let app = new Vue({

                el: '#app',
                data: {

                    sitename: 'After School Clubs',



                    lessons: lessons,

                    cart: [],
                    errors: [],

                    Checkout: false,
                    showLesson: true,
                    showLesson2: false,
                    order: {



                        firstName: null,
                        lastName: null,
                        Phone: null,
                        searchterm: null,
                        searchresult: null,
                    },

                },

            })
            </script>